@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(15px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-15px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes rainbow-text-animation {
  0% {
    background-size: 100%;
  }
  80% {
    background-size: 650%;
  }
  100% {
    background-size: 650%;
  }
}

@keyframes rainbow-text-animation-rev {
  0% {
    background-size: 650%;
  }
  40% {
    background-size: 650%;
  }
  100% {
    background-size: 100%;
  }
}

@keyframes button-animation {
  0% {
    background-position: top right;
  }
  100% {
    background-position: top left;
  }
}

@keyframes button-animation-rev {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}

@keyframes falling-arrow {
  0% {
    border-color: $color-primary;
  }
  100% {
    border-color: $color-primary-dark;
  }
}
