*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

  @include respond(tab-land) {
    font-size: 56.25%;
  }

  @include respond(tab-port) {
    font-size: 50%;
  }

  @include respond(big-desktop) {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
  background: $color-dark;
  font-family: "Poppins";

  @include respond(tab-port) {
    padding: 0;
  }
}

::selection {
  background-color: rgba($color-primary, 0.5);
}

label {
  display: block;
  color: $color-snow;
  font-weight: bold;
  margin-bottom: 1rem;
}

input {
  font: inherit;
  background: rgba($color-dark, 0.26);
  color: $color-snow;
  border-radius: 1rem;
  border: 1px solid rgba($color-dark, 0.26);
  width: 66%;
  height: 4rem;
  text-align: left;
  padding: 0.25rem;
  margin-bottom: 1rem;

  @include respond(tab-port) {
    width: 95%;
  }
}

a {
  color: $color-snow;
  text-decoration: none;
}
