// COLORS
$color-primary-light: #ff8c37;
$color-primary-dark: #ec3750;

$color-snow: #f9fafc;
$color-smoke: #f7f7f7;
$color-muted: #8492a6;
$color-dark: #17171d;
$color-yellow: #f1c40f;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizondal: 6rem;