$color-primary-dark: #ec3750;

$color-snow: #f9fafc;
$color-dark: #17171d;

.btn {
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 700;
        padding: 15px 40px;
        display: inline-block;
        border-radius: 100px;
        transition: all 0.2s;
        position: relative;
    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba($color-dark, 0.2);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active {
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgba($color-dark, 0.2);
    }

    &--white {
        background-color: $color-snow;
        color: $color-primary-dark;

        &::after {
            background-color: $color-snow;
        }
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 100px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all 0.4s;
    }

    &--animated {
        animation: moveInBottom 0.5s ease-out 0.5s;
        animation-fill-mode: backwards;
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}
