@import "../abstracts/variables";

.auth-container {
  display: table;
  height: 100vh;
  width: 100%;
  padding: 1rem;
}

.auth {
  margin: 25vh auto;
  padding: 2rem 0;
  width: 33%;
  border-radius: 1.5rem;
  background: $color-darkless;
  box-shadow: 0 2px 4px rgba($color-dark, 0.26);
  text-align: center;
  font-size: $default-font-size;

  @include respond(tab-port) {
    margin: 10rem auto;
    width: 66%;
  }

  &__control {
    margin: 1rem;
  }

  &__actions {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
