$color-primary-light: #ff8c37;
$color-primary-dark: #ec3750;

$color-snow: #f9fafc;

.header {
    height: 95vh;
    background: linear-gradient(
            to left bottom,
            rgba($color-primary-dark, 0.8),
            rgba($color-primary-light, 0.8)
        ),
        url(./images/header.jpg);
    background-size: cover;
    background-position: top;
    position: relative;

    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

    &__logo-box {
        position: absolute;
        left: 40px;
    }

    &__logo {
        height: 70px;
    }

    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}

.heading-primary {
    color: $color-snow;
    text-transform: uppercase;

    backface-visibility: hidden;
    margin-bottom: 60px;

    &--main {
        display: block;
        font-size: 60px;
        font-weight: 900;
        letter-spacing: 30px;

        animation: moveInRight 1s ease-in-out;
    }

    &--sub {
        display: block;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 12px;

        animation: moveInLeft 1s ease-in-out;
    }
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(15px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    80% {
        transform: translateX(-15px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}
